
:root {
  --primary: #9b0426; 
  --secondary: #b60a32;
  --dark: #131313; 
  --mid-grey: #212431;
  --white: #fff;

}

body {
  color: #2a2a2a;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 60px 12px;
  overflow: hidden;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  color: var(--mid-grey);
}

h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary);
  bottom: 10px;
  left: 0;
}